.mixin.out/
.replay_cache/
backups/
backups_before_restore/
bettercrashes-stackdeobfuscator-methods.csv
config/AppliedEnergistics2/recipes/items.csv
config/guidenh/structures/*
config/hbmConfig/_*
config/hbmRecipes/_*
config/Identity
config/JustEnoughCalculation/record.json
config/lanupnp-data.cfg
config/NEI/client.cfg
coretweaks/out/transformercache_profiler.csv
crash-reports/
logs/
CustomSkinLoader/caches/
icon.png
*.dat
*.backup
mods/carpentersblocks/
mods/jaad*
mods/mp3*
*.so
options*.txt
saves/
screenshots/
schematics/
settings.rtg
signpic/
XaeroWaypoints*/
XaeroWorldMap/
TimeUsage.txt
usercache.json
usernamecache.json

*.cache
*.log
*.errored

minemoticon/cache/
config/minemoticon/cache/

config/minemoticon/emoji_data.json

!config/txloader/**

config/CustomOreGen/CustomOreGen_Config_Default.xml
config/CustomOreGen/modules/
