asm/
backups/
bin/
blueprints/
coremods/
crash-reports/
data/
logs/
lua/
mcdata/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/
OpenComputersMod-1.11.13-GTNH-52-libjnlua52-windows-x86_64.dll
OpenComputersMod-1.11.13-GTNH-53-libjnlua53-windows-x86_64.dll
OpenComputersMod-1.11.13-GTNH-54-libjnlua54-windows-x86_64.dll
options.txt
servers.dat
settings.rtg
TimeUsage.txt
usernamecache.json
optionsnf.txt
NTNH_бета_потому_что_ещё_не_до_конца_доделано.zip
minetweaker.log
hs_err_pid26692.log
hs_err_pid22060.log
betterfps.txt
hs_err_pid1716.log
bettercrashes-stackdeobfuscator-methods.csv
config/hbmConfig/_hbmArmor.json
config/hbmConfig/_hbmFluidTraits.json
config/hbmConfig/_hbmRadResist.json
config/hbmRecipes/_hbmAlkylation.json
config/hbmRecipes/_hbmCoker.json
config/hbmRecipes/_hbmAssembler.json
config/hbmRecipes/_hbmCompressor.json
config/hbmRecipes/_hbmCracking.json
config/hbmRecipes/_hbmCryodistillator.json
config/hbmRecipes/_hbmElectrolyzerFluid.json
config/hbmRecipes/_hbmCrystallizer.json
config/hbmRecipes/_hbmFractions.json
config/hbmRecipes/_hbmHydrotreating.json
config/hbmRecipes/_hbmMixer.json
config/hbmRecipes/_hbmReforming.json
config/hbmRecipes/_hbmSolidifier.json
config/worldedit/worldedit.properties
config/hodgepodgeEarly.properties
config/shaders.properties
mods/carpentersblocks/CarpentersBlocksCachedResources.zip
