# Configuration file

general {
    # Set true to enable unlocking the difficulty after it's locked\n设置为true以允许在锁定后解锁难度 [default: false]
    B:allowUnlock=false

    # Default difficulty when locked (0=Peaceful, 1=Easy, 2=Normal, 3=Hard)\n锁定时的默认难度 (0=和平, 1=简单, 2=普通, 3=困难) [range: 0 ~ 3, default: 2]
    I:defaultLockedDifficulty=2

    # Show the lock difficulty button in the create world GUI\n在创建世界界面显示锁定难度按钮 [default: true]
    B:showLockButton=true
}


