# Configuration file

general {
    # Set to false to keep the block outline when aiming at an entity through grass [default: true]
    B:hideBlockOutline=true

    # Set to false to disable attacking through grass [default: true]
    B:isModEnabled=true
}


