# Configuration file

early_game {
    # The time in ticks that it takes for the campfire to consume one of its fuel. [range: 0 ~ 50000, default: 2400]
    I:campfireBurnTime=2400

    # The time in ticks that it will take the Campfire to smelt one of its slot. [range: 0 ~ 50000, default: 300]
    I:campfireSmeltTime=300

    # The extra liquids that the ceramic bucket will be able to hold [default: [fluiddeath], [fluidpure]]
    S:ceramicBucketLiquids <
        fluiddeath
        fluidpure
     >

    # The temperature for a liquid to be considered hot and break the ceramic bucket. [range: 0 ~ 50000, default: 1000]
    I:ceramicBucketLiquidsHotCap=1000

    # The chance from 0 (0%) to 1 (100%) for the fire starter to succeed making a fire. Putting this to 0 will stop the fire starter from working. [range: 0.0 ~ 1.0, default: 0.2]
    S:fireStarterSuccessChance=0.2

    # The time in ticks that it takes for the forge to consume one of its fuel. [range: 0 ~ 50000, default: 2400]
    I:forgeBurnTime=2400

    # The time in ticks that it will take the LogPile to smelt into charcoal. [range: 0 ~ 50000, default: 2400]
    I:logPileSmeltTime=2400

    # The time in ticks that it will take the Oven to smelt one of its slot. [range: 0 ~ 50000, default: 140]
    I:ovenSmeltTime=140

    # The time in ticks that it will take the Pit Kiln to smelt it's content. [range: 0 ~ 50000, default: 2400]
    I:pitKilnSmeltTime=2400

    # The amount of blocks the rope ladder can be extended from a supported block [range: 0 ~ 50000, default: 10]
    I:ropeLadderExtension=10

    tweaks {
        # Whether to make it so instead of the falling block getting destroyed on replaceable blocks, the replaceable block get destroyed instead. [default: true]
        B:destructiveFallingBlocks=true

        # Whether to make soil (dirt/sand) slightly harder to break, giving shovels more use [default: true]
        B:harderSoil=true

        # Whether to replace leather drops with raw hides to balance the leather recipes. [default: true]
        B:leatherDropReplacement=true

        # Whether to enable no tree punching mechanics. Meaning that you cannot break logs with your fist. [default: true]
        B:noTreeFistPunching=true

        # Whether you want to enable sideway gravity for falling blocks, put to false if you dont want the gravity changes [default: true]
        B:sidewayFallingBlocks=true

        # The chance from 0 (0%) to 1 (100%) for a stick to drop from leaves. Putting this to 0 will stop dropping. [range: 0.0 ~ 1.0, default: 0.166]
        S:stickDropChance=0.166

        # 0: Don't remove vanilla tools. 1: Remove the recipes. 2: Keep the recipes but make tools unusable. [range: 0 ~ 2, default: 1]
        I:vanillaToolsRemovalMode=1
    }

    lighting {
        # Put to false if you don't want to enable the torches with burn time [default: true]
        B:litTorches=true

        # The time in ticks that lit torches will burn before going out. [range: 0 ~ 50000, default: 24000]
        I:torchBurnTime=24000

        # Whether to make vanilla torches require glowstone to balance the lit torches [default: true]
        B:torchRebalance=true
    }

}


fixes {
    # This enables the mixins to Biomes O' Plenty to make it recognize the mod dirt, and avoid plants popping off. [default: true]
    B:bopPlantFix=true

    # This enables the mixins to DragonAPI to make it recognize the mod dirt, and avoid plants popping off. [default: true]
    B:dragonAPIPlantFix=true

    # This enables the mixins to Extra Biomes XL to make it recognize the mod dirt, and avoid plants popping off. [default: true]
    B:exblPlantFix=true

    # Prevents hodgepodge to slow down packet for the mod tile entities [default: true]
    B:hpBatcherDisabler=true

    # Fixes particles to match the block it's being broken, required for some blocks to have correct looking particles [default: true]
    B:particleFix=true

    # Fixes some vanilla logic not applying to the mod grass [default: true]
    B:plantFix=true

    # Enable the mixins for the wearable renderer (used for clothes), disable if you use a mod that causes shit to break [default: true]
    B:wearableRenderer=true
}


mechanical_power {
    # Prevent mechanical power TESR to stop rendering at the same distance as normal entities, since they are large blocks [default: true]
    B:extendMechanicalPowerRendering=true

    # The default speed that the waterwheel will have. [range: 0.0 ~ 256.0, default: 5.0]
    S:waterwheelDefaultSpeed=5.0

    # Whether waterwheel should be limited to River/Oceans biomes. [default: false]
    B:waterwheelRestrictBiome=false

    # The default speed that the windmill will have. [range: 0.0 ~ 256.0, default: 5.0]
    S:windmillDefaultSpeed=5.0

    # The height which the windmill will spin the fastest. [range: 0 ~ 256, default: 100]
    I:windmillIdealHeight=100

    # The range around the ideal height in which the windmill will operate. [range: 0 ~ 256, default: 60]
    I:windmillRange=60
}


metalworking {
    # Put to false if you don't want heat rendering on items. Will globally disable all rendering even on modded ingots. [default: true]
    B:metalHeatRendering=true

    # Whether to enable high tier metals being able to be casted in a mold. [default: false]
    B:metalHighTierCasting=false

    # The value that one ingot of metal should give. [range: 0 ~ 50000, default: 144]
    I:metalIngotValue=144

    # The liquids that will be used for the corresponding metals [default: [iron=molten_iron], [cast_iron=molten_cast_iron], [gold=molten_gold], [copper=molten_copper], [tin=molten_tin], [bronze=molten_bronze]]
    S:metalLiquids <
        iron=molten_iron
        cast_iron=molten_cast_iron
        gold=molten_gold
        copper=molten_copper
        tin=molten_tin
        bronze=molten_bronze
     >

    # The melting temperature for the correspond metals. [default: [iron=1538], [cast_iron=1538], [gold=1064], [copper=1085], [tin=232], [bronze=950]]
    S:metalMelting <
        iron=1538
        cast_iron=1538
        gold=1064
        copper=1085
        tin=232
        bronze=950
     >

    # The value that one nugget of metal should give. [range: 0 ~ 50000, default: 16]
    I:metalNuggetValue=16

    # The value that one ore should give. [range: 0 ~ 50000, default: 36]
    I:metalOreValue=36

    # The ingot priority list, higher means the mod items will be taken in priority. [default: [minecraft], [primal], [etfuturum]]
    S:metalPriority <
        minecraft
        hbm
        ntm
        primal
        etfuturum
     >

    # Override so certain ore dictionary give specific materials [default: [ingotIron=minecraft:iron_ingot], [ingotGold=minecraft:gold_ingot]]
    S:metalPriorityOverride <
        ingotIron=minecraft:iron_ingot
        ingotGold=minecraft:gold_ingot
     >

    # The value that one small ore should give. [range: 0 ~ 50000, default: 16]
    I:metalSmallOreValue=16

    # Put to true if you want the casting to be the actual values of ingots in vanilla tools instead of 1 ingot [default: false]
    B:metalVanillaToolValue=true

    # Put to false if you are getting some rendering issue with other mod ingots that get registered Primal Heat Rendering overlay. [default: true]
    B:modMetalHeatRendering=true

    # The minimum temperature will be displayed, anything lower will not show in tooltips [range: 0 ~ 50000, default: 1]
    I:temperatureCap=1

    forging {
        # The step value that the anvil action will take when clicked. [default: [light_hit=-3], [medium_hit=-6], [heavy_hit=-9], [draw=-15], [punch=2], [bend=7], [upset=13], [shrink=16]]
        S:anvilActionStep <
            light_hit=-3
            medium_hit=-6
            heavy_hit=-9
            draw=-15
            punch=2
            bend=7
            upset=13
            shrink=16
         >

        # The range that you need to be to the recipe line to complete an anvil recipe. [range: 0 ~ 50000, default: 1]
        I:anvilLineRange=1
    }

}


world {
    # The maximum Y value that the mod features will spawn. (Do not put higher than 256 without Cubic Chunks) [range: 0 ~ 50000, default: 256]
    I:maximumYHeight=256

    # The minimum Y value that the mod features will spawn. (Do not put lower than 0 without Cubic Chunks) [range: 0 ~ 50000, default: 0]
    I:minimumYHeight=0

    # Whether to enable large ore veins [default: true]
    B:oreVeins=true

    # Put to false if you want to disable all of the soil types of the mod. [default: true]
    B:soilTypes=true

    # Put to false if you want to disable all of the stone types of the mod. [default: true]
    B:strataStoneTypes=true

    generation {
        # Put to true if you want the vanilla ores back [default: false]
        B:enableVanillaOres=false

        # The corresponding min/max Y Value that the ores will be able to spawn. [default: [surface_copper=40-100], [deep_copper=10-40], [malachite=10-40], [medium_cassiterite=20-50], [medium_magnetite=10-60], [medium_limonite=0-40], [common_aer=0-100], [common_ignis=0-100], [common_aqua=0-100], [common_terra=0-100], [common_ordo=0-100], [common_perditio=0-100]]
        S:oreVeinsHeightRange <
            surface_copper=40-100
            deep_copper=10-40
            malachite=10-40
            medium_cassiterite=20-50
            medium_magnetite=10-60
            medium_limonite=0-40
            common_aer=0-100
            common_ignis=0-100
            common_aqua=0-100
            common_terra=0-100
            common_ordo=0-100
            common_perditio=0-100
         >

        # Clamp the veins to be maximum 8 blocks in size to prevent crashes/cascading worldgen. Enable at your own risk if you want huge veins. [default: true]
        B:oreVeinsSizeClamp=true

        # The corresponding min/max size values that the ore veins will randomly generate between these values. [default: [surface_copper=3-5], [deep_copper=5-6], [malachite=5-6], [medium_cassiterite=3-5], [medium_magnetite=3-6], [medium_limonite=3-5], [common_aer=2-4], [common_ignis=2-4], [common_aqua=2-4], [common_terra=2-4], [common_ordo=2-4], [common_perditio=2-4]]
        S:oreVeinsSizeRange <
            surface_copper=3-5
            deep_copper=5-6
            malachite=5-6
            medium_cassiterite=3-5
            medium_magnetite=3-6
            medium_limonite=3-5
            common_aer=2-4
            common_ignis=2-4
            common_aqua=2-4
            common_terra=2-4
            common_ordo=2-4
            common_perditio=2-4
         >

        # Whether to enable the generation of the ore types [default: true]
        B:oreVeinsWorldGen=true

        # Whether to enable loose rocks generating in the world. [default: true]
        B:rockWorldGen=true

        # Whether to enable loose shell generating bear beaches. [default: true]
        B:shellWorldGen=true

        # Whether to enable the generation of the soil types [default: true]
        B:soilWorldGen=true

        # Put to false if you don't want biome-specific stones (ex. Desert will have sandstone, BOP Volcanos have basalt) etc.. [default: true]
        B:strataBiomeSpecific=true

        # The corresponding min/max Y Value that the strata stones will be able to spawn. [default: [andesite=40-110], [basalt=20-70], [dacite=70-140], [rhyolite=50-100], [diorite=20-60], [gabbro=0-30], [granite=30-140], [claystone=25-100], [limestone=40-70], [sandstone=60-120], [shale=50-100], [chalk=50-90], [slate=0-50], [schist=10-40]]
        S:strataStoneHeightRange <
            andesite=40-110
            basalt=20-70
            dacite=70-140
            rhyolite=50-100
            diorite=20-60
            gabbro=0-30
            granite=30-140
            claystone=25-100
            limestone=40-70
            sandstone=60-120
            shale=50-100
            chalk=50-90
            slate=0-50
            schist=10-40
         >

        # Whether to enable the generation of the strata stone types [default: true]
        B:strataWorldGen=true
    }

}


