# Collapsible Items Filters
#
# One line - one group
# Item added in first valid group
#
#
# parts:
# modname:itemid    - identify
# $orename          - ore dictionary
# tag.color=red     - tag
# 0 or 0-12         - damage
#
# modifiers:
# ! - logical not. exclude items that match the following expression (!minecraft:portal)
# r/.../ - standard java regex (r/^m\w{6}ft$/ = minecraft)
# , - logical or in token (minecraft:potion 16384-16462,!16386)
# | - logical or multi-item search (wrench|hammer)
#
# example: minecraft:potion 16384-16462,!16386 | $oreiron | tag.color=red
#
minecraft:spawn_egg
minecraft:mob_spawner
minecraft:record_
#splash potion
minecraft:potion 16000-17000
#lingering potion
minecraft:potion 8000-9000
# AE2 Facades
appliedenergistics2:item.ItemFacade
# OpenBlocks Tanks
OpenBlocks:tank
# Forge Microblocks
ForgeMicroblock:microblock 1-1000
# Ore Dictionary: Iron
$oreIron
# Ore Dictionary: Gold
$oreGold
# Ore Dictionary: Redstone
$oreRedstone
# Ore Dictionary: Lapis
$oreLapis
# Ore Dictionary: Emerald
$oreEmerald
# Ore Dictionary: Quartz
$oreNetherQuartz
# Ore Dictionary: Diamond
$oreDiamond
# Ore Dictionary: Uranium
$oreUranium
# Ore Dictionary: Plutonium
$orePlutonium
# Ore Dictionary: Thorium
$oreThorium
# HBM Morkite Ore
hbm:tile.ore_morkite 0-10
# Ore Dictionary: Titanium
$oreTitanium
# Ore Dictionary: Sulfur
$oreSulfur
# HBM Glowstone Ore
hbm:tile.ore_glowstone 0-10
# Ore Dictionary: Saltpeter
$oreSaltpeter
# Ore Dictionary: Copper
$oreCopper
# Ore Dictionary: Nickel Pure
$oreNickelPure
# HBM Mineral Ore
hbm:tile.ore_mineral 0-10
# Ore Dictionary: Zinc
$oreZinc
# Ore Dictionary: Tungsten
$oreTungsten
# Ore Dictionary: Aluminum
$oreAluminum
# Ore Dictionary: Fluorite
$oreFluorite
# Ore Dictionary: Beryllium
$oreBeryllium
# Ore Dictionary: Lead
$oreLead
# Ore Dictionary: Container 250 Oil
$container250oil
# HBM Empty Oil Ore
hbm:tile.ore_oil_empty 0-10
# Ore Dictionary: Container 100 Gas
$container100gas
# HBM Empty Gas Ore
hbm:tile.ore_gas_empty 0-10
# Ore Dictionary: Lignite
$oreLignite
# Ore Dictionary: Asbestos
$oreAsbestos
# Ore Dictionary: Schrabidium
$oreSchrabidium
# Ore Dictionary: Lithium
$oreLithium
# Ore Dictionary: Niobium
$oreNiobium
# HBM Cadmium Ore
hbm:tile.ore_cadmium 0-10
# HBM Palladium Ore
hbm:tile.ore_palladium 0-10
# Ore Dictionary: Iodine
$oreIodine
# HBM Arsenic Ore
hbm:tile.ore_arsenic 0-10
# HBM Silicon Ore
hbm:tile.ore_silicon 0-10
# Ore Dictionary: Red Phosphorus
$oreRedPhosphorus
# Ore Dictionary: Container 250 Gas
$container250gas
# HBM Brine Ore
hbm:tile.ore_brine 0-10
# HBM Empty Brine Ore
hbm:tile.ore_brine_empty 0-10
# HBM Tekto Ore
hbm:tile.ore_tekto 0-10
# HBM Empty Tekto Ore
hbm:tile.ore_tekto_empty 0-10
# Ore Dictionary: Australium
$oreAustralium
# Ore Dictionary: Rare Earth
$oreRareEarth
# Ore Dictionary: Cobalt
$oreCobalt
# Ore Dictionary: Cinnabar
$oreCinnabar
# Ore Dictionary: Coltan
$oreColtan
# Ore Dictionary: Lanthanum
$oreLanthanum
# HBM Iron Cluster Ore
hbm:tile.cluster_iron 0-10
# HBM Titanium Cluster Ore
hbm:tile.cluster_titanium 0-10
# HBM Copper Cluster Ore
hbm:tile.cluster_copper 0-10
# HBM Bedrock Oil Ore
hbm:tile.ore_bedrock_oil 0-10
# HBM Aluminium Cluster Ore
hbm:tile.cluster_aluminium 0-10
# HBM Bobblehead
hbm:tile.bobblehead 0-34
# Ore Dictionary: Any Concrete
$anyConcrete
# HBM Anvils
r/^hbm:tile\.anvil_.*$/
# HBM Fluid Identifier Multi
hbm:item.fluid_identifier_multi 0-1000
# HBM Centrifuged Ore
hbm:item.ore_centrifuged 1-18
# HBM Bedrock Ore Fragments
hbm:item.bedrock_ore_fragment 0-32767
# HBM Disperser Canister
hbm:item.disperser_canister 0-1000
# HBM Fuselages
r/^hbm:item\..*fuselage.*$/
# HBM Singularities
r/^hbm:item\..*singularity.*$/
# HBM Lava Blocks
r/^hbm:tile\..*_lava_block$/
# HBM Particle Capsules
r/^hbm:item\.particle_.*$/