# Collapsible Items Filters
#
# One line - one group
# Item added in first valid group
#
#
# parts:
# modname:itemid    - identify
# $orename          - ore dictionary
# tag.color=red     - tag
# 0 or 0-12         - damage
#
# modifiers:
# ! - logical not. exclude items that match the following expression (!minecraft:portal)
# r/.../ - standard java regex (r/^m\w{6}ft$/ = minecraft)
# , - logical or in token (minecraft:potion 16384-16462,!16386)
# | - logical or multi-item search (wrench|hammer)
#
# example: minecraft:potion 16384-16462,!16386 | $oreiron | tag.color=red
#
minecraft:mob_spawner
imc:mobSpawner 0-255
imc:item_colored_flower_pot 0-15

# Spawn Eggs
minecraft:spawn_egg
netherlicious:NetherSpawnEgg 0-255
EnderZoo:itemSpawnEggEnderZoo 0-255



$record | hbm:item.record_gp | hbm:item.record_glass | hbm:item.record_gs | hbm:item.record_vc | hbm:item.record_ss | hbm:item.record_lc | HardcoreEnderExpansion:music_disk

#splash potion
minecraft:potion 16000-17000
#lingering potion
minecraft:potion 8000-9000
# AE2 Facades
appliedenergistics2:item.ItemFacade
# OpenBlocks Tanks
OpenBlocks:tank
# Forge Microblocks
ForgeMicroblock:microblock 1-1000
# Ore Dictionary: Iron
$oreIron
# Ore Dictionary: Gold
$oreGold
# Ore Dictionary: Redstone
$oreRedstone
# Ore Dictionary: Lapis
$oreLapis
# Ore Dictionary: Emerald
$oreEmerald
# Ore Dictionary: Quartz
$oreNetherQuartz
# Ore Dictionary: Diamond
$oreDiamond
# Ore Dictionary: Uranium
$oreUranium
# Ore Dictionary: Plutonium
$orePlutonium
# Ore Dictionary: Thorium
$oreThorium
# HBM Morkite Ore
hbm:tile.ore_morkite 0-10
# Ore Dictionary: Titanium
$oreTitanium
# Ore Dictionary: Sulfur
$oreSulfur
# HBM Glowstone Ore
hbm:tile.ore_glowstone 0-10
# Ore Dictionary: Saltpeter
$oreSaltpeter
# Ore Dictionary: Copper
$oreCopper
# Ore Dictionary: Nickel Pure
$oreNickelPure
# HBM Mineral Ore
hbm:tile.ore_mineral 0-10
# Ore Dictionary: Zinc
$oreZinc
# Ore Dictionary: Tungsten
$oreTungsten
# Ore Dictionary: Aluminum
$oreAluminum
# Ore Dictionary: Fluorite
$oreFluorite
# Ore Dictionary: Beryllium
$oreBeryllium
# Ore Dictionary: Lead
$oreLead
# Ore Dictionary: Container 250 Oil
$container250oil
# HBM Empty Oil Ore
hbm:tile.ore_oil_empty 0-10
# Ore Dictionary: Container 100 Gas
$container100gas
# HBM Empty Gas Ore
hbm:tile.ore_gas_empty 0-10
# Ore Dictionary: Lignite
$oreLignite
# Ore Dictionary: Asbestos
$oreAsbestos
# Ore Dictionary: Schrabidium
$oreSchrabidium
# Ore Dictionary: Lithium
$oreLithium
# Ore Dictionary: Niobium
$oreNiobium
# HBM Cadmium Ore
hbm:tile.ore_cadmium 0-10
# HBM Palladium Ore
hbm:tile.ore_palladium 0-10
# Ore Dictionary: Iodine
$oreIodine
# HBM Arsenic Ore
hbm:tile.ore_arsenic 0-10
# HBM Silicon Ore
hbm:tile.ore_silicon 0-10
# Ore Dictionary: Red Phosphorus
$oreRedPhosphorus
# Ore Dictionary: Container 250 Gas
$container250gas
# HBM Brine Ore
hbm:tile.ore_brine 0-10
# HBM Empty Brine Ore
hbm:tile.ore_brine_empty 0-10
# HBM Tekto Ore
hbm:tile.ore_tekto 0-10
# HBM Empty Tekto Ore
hbm:tile.ore_tekto_empty 0-10
# Ore Dictionary: Australium
$oreAustralium
# Ore Dictionary: Rare Earth
$oreRareEarth
# Ore Dictionary: Cobalt
$oreCobalt
# Ore Dictionary: Cinnabar
$oreCinnabar
# Ore Dictionary: Coltan
$oreColtan
# Ore Dictionary: Lanthanum
$oreLanthanum
# HBM Iron Cluster Ore
hbm:tile.cluster_iron 0-10
# HBM Titanium Cluster Ore
hbm:tile.cluster_titanium 0-10
# HBM Copper Cluster Ore
hbm:tile.cluster_copper 0-10
# HBM Bedrock Oil Ore
hbm:tile.ore_bedrock_oil 0-10
# HBM Aluminium Cluster Ore
hbm:tile.cluster_aluminium 0-10
# HBM Bobblehead
hbm:tile.bobblehead 0-34
# Ore Dictionary: Any Concrete
$anyConcrete
# HBM Centrifuged Ore
hbm:item.ore_centrifuged 1-18
# HBM Bedrock Ore Fragments
r/^hbm:item\.bedrock_ore_fragment$/
# BiblioCraft: Iron Lantern
BiblioCraft:BiblioIronLantern 0-15
# BiblioCraft: Gold Lantern
BiblioCraft:BiblioLantern 0-15
# BiblioCraft: Sword Pedestal
BiblioCraft:BiblioSwordPedestal 0-15
# BiblioCraft: Fancy Sign
BiblioCraft:BiblioFancySign 0-6
# BiblioCraft: Label
BiblioCraft:BiblioLabel 0-6
# HBM Fusion Reactor Shields
r/^hbm:item\.fusion_shield_.*$/
# BiblioCraft: Lamp
BiblioCraft:BiblioLamp 0-15
BiblioCraft:BiblioIronLamp 0-15

# BiblioCraft: Typewriter
BiblioCraft:BiblioTypewriter 0-15
# BiblioCraft: Seat Backs
BiblioCraft:item.SeatBack 0-29
# Ore Dictionary: Block Glass
$blockGlass
# Ore Dictionary: Block Wool
$blockWool
# Ore Dictionary: Stained Hardened Clay
$blockStainedHardenedClay

# Ore Dictionary: Tree Saplings
$treeSapling
# Ore Dictionary: Glass Panes
$paneGlass
# Ore Dictionary: Tree Leaves
$treeLeaves
# Ore Dictionary: Wood Logs
$logWood

# Ore Dictionary: Planks
$plankWood
# Ore Dictionary: Chests
$chest | $chestWood

# Vending: Vending Machines
vending:vendingMachine 0-15
vending:vendingMachineMultiple 0-15
vending:vendingMachineAdvanced 0-15


# Minecraft: Carpets
minecraft:carpet 0-15
# Chisel: Carpets
chisel:carpet 0-15
chisel:carpetFloor 0-15
# Netherlicious: Reinforced Carpets
netherlicious:reinforcedCarpet 0-15
# Ore Dictionary: Carpets
$blockCarpet

# Ore Dictionary: Seeds
$listAllseed
# Ore Dictionary: Dyes
$dye
# BiblioCraft: Grandfather Clocks
BiblioCraft:BiblioClock 0-6
# BiblioCraft: Chairs (Seats)
BiblioCraft:BiblioSeats 0-6
# BiblioCraft: Painting Frames (Flat Paintings)
BiblioCraft:BiblioFlatPainting 0-6
# ProjectRed: Cage Lamps
ProjRed|Illumination:projectred.illumination.cagelamp 0-31
# ProjectRed: Luminescent Lamps (Standard & Inverted)
ProjRed|Illumination:projectred.illumination.lamp 0-31
# Hardcore Ender Expansion: Charms
HardcoreEnderExpansion:charm 0-25
# OpenBlocks: Trophies
OpenBlocks:trophy 0-255
# Netherlicious: Crystal Lamps
# Netherlicious: Crystal Lamps
netherlicious:CrystalLamp 0-15
# BiblioCraft: Simple Paintings
BiblioCraft:BiblioSimplePainting 0-6
# BiblioCraft: Workbenches
BiblioCraft:BiblioWorkbench 0-5
# BiblioCraft: Bookcases (Bibliotheca)
BiblioCraft:Bibliotheca 0-5
# BiblioCraft: Potion Shelves
BiblioCraft:BiblioPotionShelf 0-5
# BiblioCraft: Wooden Shelves
BiblioCraft:BiblioShelf 0-5
# BiblioCraft: Racks (Spruce/Birch etc.)
BiblioCraft:BiblioRack 0-5
# BiblioCraft: Desks
BiblioCraft:BiblioDesk 0-5
# BiblioCraft: Map Frames
BiblioCraft:BiblioMapFrames 0-5
# Hardcore Ender Expansion: Runes
HardcoreEnderExpansion:rune 0-255
# ProjectBlue: Miniature Control Panel Blocks
r/^ProjectBlue:miniature.*$/ 0-255
# ProjectBlue: Spray Cans
ProjectBlue:sprayCan 0-255
# RandomThings: Spectre Blocks
RandomThings:spectreBlock 0-255
# Ore Dictionary: OpenComputers Floppy Disks
$oc:floppy