# Collapsible Items Filters
#
# One line - one group
# Item added in first valid group
#
#
# parts:
# modname:itemid    - identify
# $orename          - ore dictionary
# tag.color=red     - tag
# 0 or 0-12         - damage
#
# modifiers:
# ! - logical not. exclude items that match the following expression (!minecraft:portal)
# , - logical or in token (minecraft:potion 16384-16462,!16386)
# | - logical or multi-item search (wrench|hammer)
#
# example: minecraft:potion 16384-16462,!16386 | $oreiron | tag.color=red
#
minecraft:mob_spawner
imc:mobSpawner 0-255
imc:item_colored_flower_pot 0-15

# Spawn Eggs
minecraft:spawn_egg | netherlicious:NetherSpawnEgg | EnderZoo:itemSpawnEggEnderZoo | HardcoreEnderExpansion:spawn_eggs | immersivecavegen:SpawnSmallBrownSpider | immersivecavegen:SpawnLargeBrownSpider | immersivecavegen:SpawnBrownSpider | immersivecavegen:SpawnGlowSlime

# Flowers
minecraft:yellow_flower 0-32767 | minecraft:red_flower 0-32767 | minecraft:double_plant 0-32767 | botania:flower 0-32767 | botania:doubleFlower 0-32767 | botania:shinyFlower 0-32767 | BiomesOPlenty:flowers 0-32767 | BiomesOPlenty:flowers2 0-32767 | endercore:flower 0-32767 | kore:flower 0-32767



$record | hbm:item.record_gp | hbm:item.record_glass | hbm:item.record_gs | hbm:item.record_vc | hbm:item.record_ss | hbm:item.record_lc | hbm:item.record_el | HardcoreEnderExpansion:music_disk

#splash potion
minecraft:potion 16000-17000
#lingering potion
minecraft:potion 8000-9000
# AE2 Facades
appliedenergistics2:item.ItemFacade
# OpenBlocks Tanks
OpenBlocks:tank
# Forge Microblocks
ForgeMicroblock:microblock 1-1000
# Ore Dictionary: Iron
$oreIron
# Ore Dictionary: Gold
$oreGold
# Ore Dictionary: Redstone
$oreRedstone
# Ore Dictionary: Lapis
$oreLapis
# Ore Dictionary: Emerald
$oreEmerald
# Ore Dictionary: Quartz
$oreNetherQuartz
# Ore Dictionary: Diamond
$oreDiamond
# Ore Dictionary: Uranium
$oreUranium
# Ore Dictionary: Plutonium
$orePlutonium
# Ore Dictionary: Thorium
$oreThorium
# HBM Morkite Ore
hbm:tile.ore_morkite 0-10
# Ore Dictionary: Titanium
$oreTitanium
# Ore Dictionary: Sulfur
$oreSulfur
# HBM Glowstone Ore
hbm:tile.ore_glowstone 0-10
# Ore Dictionary: Saltpeter
$oreSaltpeter
# Ore Dictionary: Copper
$oreCopper
# Ore Dictionary: Nickel Pure
$oreNickelPure
# HBM Mineral Ore
hbm:tile.ore_mineral 0-10
# Ore Dictionary: Zinc
$oreZinc
# Ore Dictionary: Tungsten
$oreTungsten
# Ore Dictionary: Aluminum
$oreAluminum
# Ore Dictionary: Fluorite
$oreFluorite
# Ore Dictionary: Beryllium
$oreBeryllium
# Ore Dictionary: Lead
$oreLead
# Ore Dictionary: Container 250 Oil
$container250oil
# HBM Empty Oil Ore
hbm:tile.ore_oil_empty 0-10
# Ore Dictionary: Container 100 Gas
$container100gas
# HBM Empty Gas Ore
hbm:tile.ore_gas_empty 0-10
# Ore Dictionary: Lignite
$oreLignite
# Ore Dictionary: Asbestos
$oreAsbestos
# Ore Dictionary: Schrabidium
$oreSchrabidium
# Ore Dictionary: Lithium
$oreLithium
# Ore Dictionary: Niobium
$oreNiobium
# HBM Cadmium Ore
hbm:tile.ore_cadmium 0-10
# HBM Palladium Ore
hbm:tile.ore_palladium 0-10
# Ore Dictionary: Iodine
$oreIodine
# HBM Arsenic Ore
hbm:tile.ore_arsenic 0-10
# HBM Silicon Ore
hbm:tile.ore_silicon 0-10
# Ore Dictionary: Red Phosphorus
$oreRedPhosphorus
# Ore Dictionary: Container 250 Gas
$container250gas
# HBM Brine Ore
hbm:tile.ore_brine 0-10
# HBM Empty Brine Ore
hbm:tile.ore_brine_empty 0-10
# HBM Tekto Ore
hbm:tile.ore_tekto 0-10
# HBM Empty Tekto Ore
hbm:tile.ore_tekto_empty 0-10
# Ore Dictionary: Australium
$oreAustralium
# Ore Dictionary: Rare Earth
$oreRareEarth
# Ore Dictionary: Cobalt
$oreCobalt
# Ore Dictionary: Cinnabar
$oreCinnabar
# Ore Dictionary: Coltan
$oreColtan
# Ore Dictionary: Lanthanum
$oreLanthanum
# HBM Iron Cluster Ore
hbm:tile.cluster_iron 0-10
# HBM Titanium Cluster Ore
hbm:tile.cluster_titanium 0-10
# HBM Copper Cluster Ore
hbm:tile.cluster_copper 0-10
# HBM Bedrock Oil Ore
hbm:tile.ore_bedrock_oil 0-10
# HBM Aluminium Cluster Ore
hbm:tile.cluster_aluminium 0-10
# HBM Bobblehead
hbm:tile.bobblehead 0-34
# Ore Dictionary: Any Concrete
$anyConcrete
VillageNames:concrete 0-15

# HBM Centrifuged Ore
hbm:item.ore_centrifuged 1-18
# HBM Bedrock Ore Fragments
# BiblioCraft: Iron Lantern
BiblioCraft:BiblioIronLantern 0-15
# BiblioCraft: Gold Lantern
BiblioCraft:BiblioLantern 0-15
# BiblioCraft: Sword Pedestal
BiblioCraft:BiblioSwordPedestal 0-15
# BiblioCraft: Fancy Sign
BiblioCraft:BiblioFancySign 0-6
# BiblioCraft: Label
BiblioCraft:BiblioLabel 0-6
# HBM Fusion Reactor Shields
# BiblioCraft: Lamp
BiblioCraft:BiblioLamp 0-15
BiblioCraft:BiblioIronLamp 0-15

# BiblioCraft: Typewriter
BiblioCraft:BiblioTypewriter 0-15
# BiblioCraft: Seat Backs
BiblioCraft:item.SeatBack 0-29
# Ore Dictionary: Block Glass
$blockGlass
# Ore Dictionary: Block Wool
$blockWool
# Ore Dictionary: Stained Hardened Clay
$blockStainedHardenedClay

# Ore Dictionary: Tree Saplings
$treeSapling
# Ore Dictionary: Glass Panes
$paneGlass
# Ore Dictionary: Tree Leaves
$treeLeaves
# Ore Dictionary: Wood Logs
$logWood

# Ore Dictionary: Planks
$plankWood
# Et Futurum: Chest Boats

# Et Futurum: Boats

# Ore Dictionary: Chests

# Vending: Vending Machines
vending:vendingMachine 0-15
vending:vendingMachineMultiple 0-15
vending:vendingMachineAdvanced 0-15


# Minecraft: Carpets
minecraft:carpet 0-15
# Chisel: Carpets
chisel:carpet 0-15
chisel:carpetFloor 0-15
# Netherlicious: Reinforced Carpets
netherlicious:reinforcedCarpet 0-15
# Ore Dictionary: Carpets
$blockCarpet

# Ore Dictionary: Seeds
$listAllseed
# Ore Dictionary: Dyes
$dye !hbm:item.powder_ash !hbm:item.powder_lapis !hbm:item.oil_tar !hbm:item.cinnebar
# BiblioCraft: Grandfather Clocks
BiblioCraft:BiblioClock 0-6
# BiblioCraft: Chairs (Seats)
BiblioCraft:BiblioSeats 0-6
# BiblioCraft: Painting Frames (Flat Paintings)
BiblioCraft:BiblioFlatPainting 0-6
# ProjectRed: Cage Lamps
ProjRed|Illumination:projectred.illumination.cagelamp 0-31
# ProjectRed: Luminescent Lamps (Standard & Inverted)
ProjRed|Illumination:projectred.illumination.lamp 0-31
# Hardcore Ender Expansion: Charms
HardcoreEnderExpansion:charm 0-32767
# OpenBlocks: Trophies
OpenBlocks:trophy 0-255
# Netherlicious: Crystal Lamps
# Netherlicious: Crystal Lamps
netherlicious:CrystalLamp 0-15
# BiblioCraft: Simple Paintings
BiblioCraft:BiblioSimplePainting 0-6
# BiblioCraft: Workbenches
BiblioCraft:BiblioWorkbench 0-5
# BiblioCraft: Bookcases (Bibliotheca)
BiblioCraft:Bibliotheca 0-5
# BiblioCraft: Potion Shelves
BiblioCraft:BiblioPotionShelf 0-5
# BiblioCraft: Wooden Shelves
BiblioCraft:BiblioShelf 0-5
# BiblioCraft: Racks (Spruce/Birch etc.)
BiblioCraft:BiblioRack 0-5
# BiblioCraft: Desks
BiblioCraft:BiblioDesk 0-5
# BiblioCraft: Map Frames
BiblioCraft:BiblioMapFrames 0-5
# BiblioCraft: Furniture Panelers
BiblioCraft:BiblioPaneler
# BiblioCraft: Display Cases
BiblioCraft:BiblioCase
# Hardcore Ender Expansion: Runes
HardcoreEnderExpansion:rune 0-255
# ProjectBlue: Miniature Control Panel Blocks
# ProjectBlue: Spray Cans
ProjectBlue:sprayCan 0-255
# RandomThings: Spectre Blocks
RandomThings:spectreBlock 0-255
# OpenComputers: Floppy Disks
OpenComputers:item 4
# Storage Drawers: 4 Slots (fullDrawers4)
StorageDrawers:fullDrawers4 0-255
# Storage Drawers: 2 Slots (fullDrawers2)
StorageDrawers:fullDrawers2 0-255
# Storage Drawers: 1 Slot (fullDrawers1)
StorageDrawers:fullDrawers1 0-255
# VillageNames: Glazed Terracotta
VillageNames:glazedTerracotta 0-15
# Amazing Trophies
amazingtrophies:trophy 0-255
# Applied Energistics 2: Paintballs
appliedenergistics2:item.ItemPaintBall 0-255
# Applied Energistics 2: Glass Cables
# TEMP DISABLED: appliedenergistics2:item.ItemMultiPart 16-35
# Applied Energistics 2: Covered Cables
# TEMP DISABLED: appliedenergistics2:item.ItemMultiPart 36-55
# Applied Energistics 2: Smart Cables
# TEMP DISABLED: appliedenergistics2:item.ItemMultiPart 56-75
# Applied Energistics 2: Dense Cables
# TEMP DISABLED: appliedenergistics2:item.ItemMultiPart 76-95
# Ore Dictionary: Cobblestone
$cobblestone
# Plants & Crops
hbm:tile.plant_dead | hbm:tile.rubber_plant | hbm:tile.plant_reeds | hbm:tile.crop_coffee | hbm:tile.crop_tea | hbm:tile.crop_mint | hbm:tile.vine_phosphor | netherlicious:SoggyWartCrop | netherlicious:WarpedWartCrop | netherlicious:CrimsonWartCrop | netherlicious:AbyssalOat | netherlicious:HellderBerryBush | netherlicious:PotPlants 5-6 | netherlicious:GhastlyGourdStem
# Ore Dictionary: Wooden Signs
$signWood | netherlicious:crimsonSign | netherlicious:warpedSign

# Hardcore Ender Expansion: Curses

# OpenBlocks: Paint Cans


# OpenBlocks: Imaginary Pencil & Crayon
OpenBlocks:imaginary 0-1

# HBM: Kerosene Fuselages (Size 10)
hbm:item.mp_fuselage_10_15_kerosene | hbm:item.mp_fuselage_10_kerosene | hbm:item.mp_fuselage_10_kerosene_camo | hbm:item.mp_fuselage_10_kerosene_desert | hbm:item.mp_fuselage_10_kerosene_flames | hbm:item.mp_fuselage_10_kerosene_insulation | hbm:item.mp_fuselage_10_kerosene_metal | hbm:item.mp_fuselage_10_kerosene_sky | hbm:item.mp_fuselage_10_kerosene_sleek | hbm:item.mp_fuselage_10_kerosene_taint | hbm:item.mp_fuselage_10_long_kerosene | hbm:item.mp_fuselage_10_long_kerosene_camo | hbm:item.mp_fuselage_10_long_kerosene_dash | hbm:item.mp_fuselage_10_long_kerosene_desert | hbm:item.mp_fuselage_10_long_kerosene_flames | hbm:item.mp_fuselage_10_long_kerosene_insulation | hbm:item.mp_fuselage_10_long_kerosene_metal | hbm:item.mp_fuselage_10_long_kerosene_sky | hbm:item.mp_fuselage_10_long_kerosene_sleek | hbm:item.mp_fuselage_10_long_kerosene_taint | hbm:item.mp_fuselage_10_long_kerosene_vap

# HBM: Solid Fuel Fuselages (Size 10)
hbm:item.mp_fuselage_10_15_solid | hbm:item.mp_fuselage_10_long_solid | hbm:item.mp_fuselage_10_long_solid_bullet | hbm:item.mp_fuselage_10_long_solid_flames | hbm:item.mp_fuselage_10_long_solid_insulation | hbm:item.mp_fuselage_10_long_solid_silvermoonlight | hbm:item.mp_fuselage_10_long_solid_sleek | hbm:item.mp_fuselage_10_long_solid_soviet_glory | hbm:item.mp_fuselage_10_solid | hbm:item.mp_fuselage_10_solid_battery | hbm:item.mp_fuselage_10_solid_cathedral | hbm:item.mp_fuselage_10_solid_duracell | hbm:item.mp_fuselage_10_solid_flames | hbm:item.mp_fuselage_10_solid_insulation | hbm:item.mp_fuselage_10_solid_moonlit | hbm:item.mp_fuselage_10_solid_sleek | hbm:item.mp_fuselage_10_solid_soviet_glory

# HBM: Solid Fuel Fuselages (Size 15)
hbm:item.mp_fuselage_15_20_solid | hbm:item.mp_fuselage_15_solid | hbm:item.mp_fuselage_15_solid_desh | hbm:item.mp_fuselage_15_solid_faust | hbm:item.mp_fuselage_15_solid_insulation | hbm:item.mp_fuselage_15_solid_mimi | hbm:item.mp_fuselage_15_solid_panorama | hbm:item.mp_fuselage_15_solid_roses | hbm:item.mp_fuselage_15_solid_silvermoonlight | hbm:item.mp_fuselage_15_solid_snowy | hbm:item.mp_fuselage_15_solid_soviet_glory | hbm:item.mp_fuselage_15_solid_soviet_stank

# HBM: Kerosene Fuselages (Size 15)
hbm:item.mp_fuselage_15_20_kerosene | hbm:item.mp_fuselage_15_20_kerosene_magnusson | hbm:item.mp_fuselage_15_kerosene | hbm:item.mp_fuselage_15_kerosene_blackjack | hbm:item.mp_fuselage_15_kerosene_camo | hbm:item.mp_fuselage_15_kerosene_decorated | hbm:item.mp_fuselage_15_kerosene_desert | hbm:item.mp_fuselage_15_kerosene_insulation | hbm:item.mp_fuselage_15_kerosene_lambda | hbm:item.mp_fuselage_15_kerosene_metal | hbm:item.mp_fuselage_15_kerosene_minuteman | hbm:item.mp_fuselage_15_kerosene_pip | hbm:item.mp_fuselage_15_kerosene_polite | hbm:item.mp_fuselage_15_kerosene_sky | hbm:item.mp_fuselage_15_kerosene_steampunk | hbm:item.mp_fuselage_15_kerosene_taint | hbm:item.mp_fuselage_15_kerosene_yuck

# HBM: Xenon Fuselages (Size 10)
hbm:item.mp_fuselage_10_xenon | hbm:item.mp_fuselage_10_xenon_bhole



# BiblioCraft: Tables
BiblioCraft:BiblioTable 0-6

# Shovels
minecraft:iron_shovel | minecraft:wooden_shovel | minecraft:stone_shovel | minecraft:diamond_shovel | minecraft:golden_shovel | etfuturum:netherite_spade | hbm:item.schrabidium_shovel | hbm:item.steel_shovel | hbm:item.titanium_shovel | hbm:item.alloy_shovel | hbm:item.cmb_shovel | hbm:item.bismuth_shovel | hbm:item.chlorophyte_shovel | hbm:item.cobalt_decorated_shovel | hbm:item.cobalt_shovel | hbm:item.desh_shovel | hbm:item.dwarven_shovel | hbm:item.mese_shovel | hbm:item.starmetal_shovel | hbm:item.volcanic_shovel | HardcoreEnderExpansion:schorching_shovel | netherlicious:EfrineShovel | imc:item_flint_spade | imc:item_nether_brick_shovel | hbm:item.mysteryshovel


# Axes
minecraft:iron_axe | minecraft:wooden_axe | minecraft:stone_axe | minecraft:diamond_axe | minecraft:golden_axe | etfuturum:netherite_axe | hbm:item.shimmer_axe | hbm:item.schrabidium_axe | hbm:item.steel_axe | hbm:item.titanium_axe | hbm:item.cobalt_axe | hbm:item.cobalt_decorated_axe | hbm:item.starmetal_axe | hbm:item.alloy_axe | hbm:item.cmb_axe | hbm:item.desh_axe | hbm:item.bismuth_axe | hbm:item.volcanic_axe | hbm:item.chlorophyte_axe | hbm:item.mese_axe | hbm:item.chernobylsign | hbm:item.sopsign | hbm:item.stopsign | imc:item_nether_brick_axe | netherlicious:EfrineAxe

# Pickaxes
minecraft:iron_pickaxe | minecraft:stone_pickaxe | minecraft:diamond_pickaxe | minecraft:golden_pickaxe | minecraft:wooden_pickaxe | HardcoreEnderExpansion:schorching_pickaxe | etfuturum:netherite_pickaxe | hbm:item.dwarven_pickaxe | hbm:item.schrabidium_pickaxe | hbm:item.steel_pickaxe | netherlicious:EfrinePickaxe | imc:item_flint_pick | imc:item_nether_brick_pickaxe | hbm:item.mese_pickaxe | hbm:item.chlorophyte_pickaxe | hbm:item.volcanic_pickaxe | hbm:item.bismuth_pickaxe | hbm:item.desh_pickaxe | hbm:item.cmb_pickaxe | hbm:item.alloy_pickaxe | hbm:item.starmetal_pickaxe | hbm:item.cobalt_decorated_pickaxe | hbm:item.cobalt_pickaxe | hbm:item.titanium_pickaxe

# Modern Markings: Vertical Letters
modernmarkings:tile.wall_marking_letter_a | modernmarkings:tile.wall_marking_letter_b | modernmarkings:tile.wall_marking_letter_c | modernmarkings:tile.wall_marking_letter_d | modernmarkings:tile.wall_marking_letter_e | modernmarkings:tile.wall_marking_letter_f | modernmarkings:tile.wall_marking_letter_g | modernmarkings:tile.wall_marking_letter_h | modernmarkings:tile.wall_marking_letter_i | modernmarkings:tile.wall_marking_letter_j | modernmarkings:tile.wall_marking_letter_k | modernmarkings:tile.wall_marking_letter_l | modernmarkings:tile.wall_marking_letter_m | modernmarkings:tile.wall_marking_letter_n | modernmarkings:tile.wall_marking_letter_o | modernmarkings:tile.wall_marking_letter_p | modernmarkings:tile.wall_marking_letter_q | modernmarkings:tile.wall_marking_letter_r | modernmarkings:tile.wall_marking_letter_s | modernmarkings:tile.wall_marking_letter_t | modernmarkings:tile.wall_marking_letter_u | modernmarkings:tile.wall_marking_letter_v | modernmarkings:tile.wall_marking_letter_w | modernmarkings:tile.wall_marking_letter_x | modernmarkings:tile.wall_marking_letter_y | modernmarkings:tile.wall_marking_letter_z

# Modern Markings: Numbers
modernmarkings:tile.wall_marking_number_0 | modernmarkings:tile.wall_marking_number_1 | modernmarkings:tile.wall_marking_number_2 | modernmarkings:tile.wall_marking_number_3 | modernmarkings:tile.wall_marking_number_4 | modernmarkings:tile.wall_marking_number_5 | modernmarkings:tile.wall_marking_number_6 | modernmarkings:tile.wall_marking_number_7 | modernmarkings:tile.wall_marking_number_8 | modernmarkings:tile.wall_marking_number_9

# Zoranodensha: Engineer Blueprints
zoranodensha:item.zoranodensha.items.engineersBlueprint

# StorageDrawers: Upgrades
StorageDrawers:upgradeTemplate | StorageDrawers:upgrade | StorageDrawers:upgradeStatus | StorageDrawers:upgradeVoid | StorageDrawers:upgradeCreative | StorageDrawers:upgradeRedstone | StorageDrawers:upgradeDowngrade

# HBM: Turrets
hbm:tile.turret_light | hbm:tile.turret_heavy | hbm:tile.turret_rocket | hbm:tile.turret_flamer | hbm:tile.turret_laser | hbm:tile.turret_tauon_light | hbm:tile.turret_spitfire | hbm:tile.turret_chekhov_light | hbm:tile.turret_chekhov | hbm:tile.turret_friendly | hbm:tile.turret_jeremy | hbm:tile.turret_tauon | hbm:tile.turret_richard | hbm:tile.turret_howard | hbm:tile.turret_howard_damaged | hbm:tile.turret_maxwell | hbm:tile.turret_fritz

# HBM: Particle Capsules
hbm:item.particle_empty | hbm:item.particle_hydrogen | hbm:item.particle_copper | hbm:item.particle_lead | hbm:item.particle_amat | hbm:item.particle_higgs | hbm:item.particle_muon | hbm:item.particle_strange

# HBM: Universal Grenades
hbm:item.grenade_universal

# HBM: Waste Plates
hbm:item.waste_plate_u233 | hbm:item.waste_plate_u235 | hbm:item.waste_plate_pu239 | hbm:item.waste_plate_pu241 | hbm:item.waste_plate_mox | hbm:item.waste_plate_schrabidium | hbm:item.waste_plate_sa326 | hbm:item.waste_plate_ra226b | hbm:item.waste_plate_thorium | hbm:item.waste_plate_lead

# HBM: RBMK Fuel Rods
hbm:item.rbmk_fuel_meu | hbm:item.rbmk_fuel_ueu | hbm:item.rbmk_fuel_heu233 | hbm:item.rbmk_fuel_heu235 | hbm:item.rbmk_fuel_uzh | hbm:item.rbmk_fuel_thmeu | hbm:item.rbmk_fuel_lep | hbm:item.rbmk_fuel_mep | hbm:item.rbmk_fuel_hep239 | hbm:item.rbmk_fuel_hep241 | hbm:item.rbmk_fuel_mox | hbm:item.rbmk_fuel_schrabidium | hbm:item.rbmk_fuel_let | hbm:item.rbmk_fuel_met | hbm:item.rbmk_fuel_het | hbm:item.rbmk_fuel_sa326 | hbm:item.rbmk_fuel_ra226b | hbm:item.rbmk_fuel_zirconium

# HBM: Disperser Canisters
hbm:item.disperser_canister

# HBM: Drill Engines
hbm:item.weapon_mod_special 22 | hbm:item.weapon_mod_special 23 | hbm:item.weapon_mod_special 25

# HBM: Artillery Shells
hbm:item.ammo_himars

# HBM: Weapon Mods
hbm:item.weapon_mod_test

# HBM: ICF Pellets
hbm:item.icf_pellet | hbm:item.icf_pellet_depleted

# All Helmets
minecraft:leather_helmet | minecraft:chainmail_helmet | minecraft:iron_helmet | minecraft:golden_helmet | minecraft:diamond_helmet | etfuturum:netherite_helmet | netherlicious:EfrineHelmet | imc:item_adamantium_helmet | hbm:item.ajr_helmet | hbm:item.ajro_helmet | hbm:item.alloy_helmet | hbm:item.asbestos_helmet | hbm:item.bismuth_helmet | hbm:item.bj_helmet | hbm:item.cmb_helmet | hbm:item.cobalt_helmet | hbm:item.dieselsuit_helmet | hbm:item.dns_helmet | hbm:item.dnt_helmet | hbm:item.envsuit_helmet | hbm:item.euphemium_helmet | hbm:item.fau_helmet | hbm:item.hazmat_helmet | hbm:item.hazmat_helmet_grey | hbm:item.hazmat_helmet_red | hbm:item.hazmat_paa_helmet | hbm:item.hev_helmet | hbm:item.liquidator_helmet | hbm:item.ncrpa_helmet | hbm:item.robes_helmet | hbm:item.rpa_helmet | hbm:item.schrabidium_helmet | hbm:item.security_helmet | hbm:item.starmetal_helmet | hbm:item.steamsuit_helmet | hbm:item.steel_helmet | hbm:item.t45_helmet | hbm:item.t51_helmet | hbm:item.taurun_helmet | hbm:item.titanium_helmet | hbm:item.trenchmaster_helmet

# All Chestplates
minecraft:leather_chestplate | minecraft:chainmail_chestplate | minecraft:iron_chestplate | minecraft:golden_chestplate | minecraft:diamond_chestplate | etfuturum:netherite_chestplate | netherlicious:EfrineChestplate | imc:item_adamantium_chestplate | hbm:item.ajr_plate | hbm:item.ajro_plate | hbm:item.alloy_plate | hbm:item.asbestos_plate | hbm:item.cmb_plate | hbm:item.cobalt_plate | hbm:item.dns_plate | hbm:item.dnt_plate | hbm:item.envsuit_plate | hbm:item.euphemium_plate | hbm:item.fau_plate | hbm:item.hazmat_paa_plate | hbm:item.hazmat_plate | hbm:item.hazmat_plate_grey | hbm:item.hazmat_plate_red | hbm:item.hev_plate | hbm:item.jackt | hbm:item.jackt2 | hbm:item.liquidator_plate | hbm:item.ncrpa_plate | hbm:item.rpa_plate | hbm:item.schrabidium_plate | hbm:item.security_plate | hbm:item.starmetal_plate | hbm:item.steamsuit_plate | hbm:item.steel_plate | hbm:item.t45_plate | hbm:item.t51_plate | hbm:item.taurun_plate | hbm:item.titanium_plate | hbm:item.trenchmaster_plate
