# Hidden Items Filters
#
# parts:
# modname:itemid    - identify
# $orename          - ore dictionary
# tag.color=red     - tag
# 0 or 0-12         - damage
#
# modifiers:
# ! - logical not. exclude items that match the following expression (!minecraft:portal)
# r/.../ - standard java regex (r/^m\w{6}ft$/ = minecraft)
# , - logical or in token (minecraft:potion 16384-16462,!16386)
# | - logical or multi-item search (wrench|hammer)
#
# example: minecraft:potion 16384-16462,!16386 | $oreiron | tag.color=red
#
# Bob's Fluid Translator Liquids
r/^bobfluidtranslator:.*_fluid_block$/
# Bob's Fluid Translator Buckets
r/^bobfluidtranslator:.*_fluid_bucket$/
# HBM Boat & Boxcar
hbm:tile.boat
hbm:tile.boxcar
# HBM Lit Brick Furnace
hbm:tile.machine_furnace_brick_on
# HBM Destroyed Zirnox
hbm:tile.zirnox_destroyed
# HBM Jungle Bricks
r/^hbm:tile\.brick_jungle_.*$/
# HBM Burning Earth
hbm:tile.burning_earth
# HBM Geysers
r/^hbm:tile\.geysir_.*$/
# HBM Tall Rubber Tree
hbm:tile.rubber_tall 0-2
# HBM Pedestal
hbm:tile.pedestal
# HBM Deco Loot
hbm:tile.deco_loot
# HBM Broadcaster PC
hbm:tile.broadcaster_pc
# HBM Balefire
hbm:tile.balefire
# HBM Crate
hbm:tile.crate
# HBM Extra Crates
hbm:tile.crate_weapon
hbm:tile.crate_lead
hbm:tile.crate_red
hbm:tile.crate_can
hbm:tile.crate_ammo
hbm:tile.crate_jungle
# HBM Oil Pipe
hbm:tile.oil_pipe
# HBM Flesh Blocks
hbm:tile.flesh_block
hbm:tile.charred_flesh_block
hbm:tile.carbonized_flesh_block
# HBM Combat Drop
hbm:tile.combat_drop
# HBM CCL Block
hbm:tile.ccl_block
# HBM Volcano Rad Core
hbm:tile.volcano_rad_core 0-4
# HBM Creative Propulsion Block
hbm:tile.propulsion_creative
# HBM Vacuum Block
hbm:tile.vacuum
# HBM Chlorine Gas Block
hbm:tile.chlorine_gas
# HBM Radon Gas Block
hbm:tile.gas_radon
# HBM Dense Radon Gas Block
hbm:tile.gas_radon_dense
# HBM Radon Gas Tomb Block
hbm:tile.gas_radon_tomb
# HBM Carbon Monoxide Gas Block
hbm:tile.gas_monoxide
# HBM Asbestos Gas Block
hbm:tile.gas_asbestos
# HBM Coal Gas Block
hbm:tile.gas_coal
# HBM Flammable Gas Block
hbm:tile.gas_flammable
# HBM Explosive Gas Block
hbm:tile.gas_explosive
# HBM Broken Item
hbm:item.broken_item
# HBM Office Door
hbm:tile.door_office
# HBM Fence Gate
hbm:tile.fence_gate
# HBM Bunker Door
hbm:tile.door_bunker
# HBM Red Door
hbm:tile.door_red
# HBM Floodlight Beam Block
hbm:tile.floodlight_beam
# HBM Structure Anchor
hbm:tile.structure_anchor
# HBM Digamma Fire Block
hbm:tile.fire_digamma
# HBM Digamma Matter Block
hbm:tile.digamma_matter
# HBM Meltdown Gas Block
hbm:tile.gas_meltdown
# HBM Dummy Beam Block
hbm:tile.dummy_beam
# HBM Wand Air Block
hbm:tile.wand_air
# HBM Wand Tandem Block
hbm:tile.wand_tandem
# HBM Wand Structure Block
hbm:tile.wand_structure
# HBM Logic Block
hbm:tile.logic_block
# HBM Wand Loot Block
# TEMP DISABLED: hbm:tile.wand_loot
# HBM Wand Logic Block
# TEMP DISABLED: hbm:tile.wand_logic
# HBM Mud Block
hbm:tile.mud_block
# HBM Acid Block
hbm:tile.acid_block
# HBM Toxic Block
hbm:tile.toxic_block
# HBM Schrabidic Block
hbm:tile.schrabidic_block
# HBM Corium Block
hbm:tile.corium_block
# HBM Lava Blocks
hbm:tile.volcanic_lava_block
hbm:tile.rad_lava_block
# HBM Particle Capsules
r/^hbm:item\.particle_.*$/
# HBM Sand Boron Layer
hbm:tile.sand_boron_layer
# HBM Crop Paraffin
hbm:tile.crop_paraffin
# Minecraft Bedrock
minecraft:bedrock
# Minecraft End Portal Frame
minecraft:end_portal_frame
# Minecraft End Portal
minecraft:end_portal
# Minecraft Flowing Water
minecraft:flowing_water
# Minecraft Water
minecraft:water
# Minecraft Flowing Lava
minecraft:flowing_lava
# Minecraft Lava
minecraft:lava
# StructureLib
r/^structurelib:.*$/
# Netherlicious Signs
netherlicious:netherlicious.crimsonSignStanding
netherlicious:netherlicious.crimsonSignWall
netherlicious:netherlicious.warpedSignStanding
netherlicious:netherlicious.warpedSignWall
netherlicious:netherlicious.foxfireSignWall
netherlicious:netherlicious.foxfireSignStanding
# HBM Nuke Kits
hbm:item.nuke_electric_kit
hbm:item.nuke_commercially_kit
hbm:item.nuke_advanced_kit
hbm:item.nuke_starter_kit
# HBM Glitch Item
hbm:item.glitch
# BiblioCraft: Clipboard
BiblioCraft:BiblioClipboard
# Hardcore Ender Expansion: Corrupted Energy High
HardcoreEnderExpansion:corrupted_energy_high
# ProjectRed: Airous Light
ProjRed|Illumination:projectred.illumination.airousLight
# Hardcore Ender Expansion: Ender Goo
HardcoreEnderExpansion:ender_goo
# Hardcore Ender Expansion: Temple End Portal
HardcoreEnderExpansion:temple_end_portal
# Hardcore Ender Expansion: Enhanced Brewing Stand Block
HardcoreEnderExpansion:enhanced_brewing_stand_block
# Hardcore Ender Expansion: Corrupted Energy Low
HardcoreEnderExpansion:corrupted_energy_low
# Hardcore Ender Expansion: Energy Cluster
HardcoreEnderExpansion:energy_cluster
# Hardcore Ender Expansion: Laser Beam
HardcoreEnderExpansion:laser_beam
# BetterQuesting Creative Blocks
cb4bq:BlockDLB
cb4bq:BlockHSB
cb4bq:BlockREB
# Computronics Creative Parts
computronics:computronics.ocSpecialParts
# OpenComputers: Creative Case
OpenComputers:caseCreative
# BiblioCraft: Creative Lock
BiblioCraft:item.BiblioCreativeLock
# AE2: Creative Energy Controller
# TEMP DISABLED: appliedenergistics2:tile.BlockCreativeEnergyController
# AE2: Creative Energy Cell
# TEMP DISABLED: appliedenergistics2:tile.BlockCreativeEnergyCell
# AE2: Creative Storage Cell
# TEMP DISABLED: appliedenergistics2:item.ItemCreativeStorageCell
# AE2FC: Creative Fluid Storage Cell
ae2fc:creative_fluid_storage
# Storage Drawers: Creative Upgrades
StorageDrawers:upgradeCreative
# HBM: Creative Stirling Engine
hbm:tile.machine_stirling_creative
# HBM: Creative Fusion Klystron
hbm:tile.fusion_klystron_creative


















# Netherlicious: Fires
netherlicious:ShadowFire
netherlicious:FoxFire
netherlicious:SoulFire
# Minecraft: Fire
minecraft:fire