# Hidden Items Filters
#
# parts:
# modname:itemid    - identify
# $orename          - ore dictionary
# tag.color=red     - tag
# 0 or 0-12         - damage
#
# modifiers:
# ! - logical not. exclude items that match the following expression (!minecraft:portal)
# r/.../ - standard java regex (r/^m\w{6}ft$/ = minecraft)
# , - logical or in token (minecraft:potion 16384-16462,!16386)
# | - logical or multi-item search (wrench|hammer)
#
# example: minecraft:potion 16384-16462,!16386 | $oreiron | tag.color=red
#
# Bob's Fluid Translator Liquids
r/^bobfluidtranslator:.*_fluid_block$/
# Bob's Fluid Translator Buckets
r/^bobfluidtranslator:.*_fluid_bucket$/
# HBM Boat & Boxcar
hbm:tile.boat
hbm:tile.boxcar
# HBM Lit Brick Furnace
hbm:tile.machine_furnace_brick_on
# HBM Destroyed Zirnox
hbm:tile.zirnox_destroyed
# HBM Jungle Bricks
r/^hbm:tile\.brick_jungle_.*$/
# HBM Burning Earth
hbm:tile.burning_earth
# HBM Geysers
r/^hbm:tile\.geysir_.*$/
# HBM Tall Rubber Tree
hbm:tile.rubber_tall 0-2
# HBM Pedestal
hbm:tile.pedestal
# HBM Deco Loot
hbm:tile.deco_loot
# HBM Broadcaster PC
hbm:tile.broadcaster_pc
# HBM Balefire
hbm:tile.balefire
# HBM Crate
hbm:tile.crate
# HBM Extra Crates
hbm:tile.crate_weapon
hbm:tile.crate_lead
hbm:tile.crate_red
hbm:tile.crate_can
hbm:tile.crate_ammo
hbm:tile.crate_jungle
# HBM Oil Pipe
hbm:tile.oil_pipe
# HBM Flesh Blocks
hbm:tile.flesh_block
hbm:tile.charred_flesh_block
hbm:tile.carbonized_flesh_block
# HBM Combat Drop
hbm:tile.combat_drop
# HBM CCL Block
hbm:tile.ccl_block
# HBM Volcano Rad Core
hbm:tile.volcano_rad_core 0-4
# HBM Creative Propulsion Block
hbm:tile.propulsion_creative
# HBM Vacuum Block
hbm:tile.vacuum
# HBM Chlorine Gas Block
hbm:tile.chlorine_gas
# HBM Radon Gas Block
hbm:tile.gas_radon
# HBM Dense Radon Gas Block
hbm:tile.gas_radon_dense